.footer {
  background-color: var(--background-color-secondary-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer .contacts {
  margin-top: 20px;
  width: 231px;
}
.contacts__info-street {
  margin-bottom: 9px;
}
.contacts__info-street .contacts__street {
  display: block;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__info-street .contacts__street:hover,
.contacts__info-street .contacts__street:focus {
  color: var(--accent-color);
}
.footer .contacts__info-email {
  margin-bottom: 9px;
}
.footer .contacts__email,
.footer .contacts__tel {
  display: block;
  color: var(--contacts-footer-color);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .contacts__email:hover,
.footer .contacts__email:focus {
  color: var(--accent-color);
}
.footer .contacts__tel:hover,
.footer .contacts__tel:focus {
  color: var(--accent-color);
}

/* Приєднуйтесь */
.footer-join {
  margin-left: 93px;
  margin-top: 12px;
  width: 570px;
  height: 86px;
}
.subscription__item {
  display: flex;
}
.subscription__email {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--secondary-text-color);
}
.subscription__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--secondary-text-color);
}
