.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-secondary-light);
}
.team__list {
  display: flex;
}
.team__card {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  @include font($lh: 1.19, $ls: null);
  color: var(--title-and-nav-text-color);
  text-align: center;
}
.team__position {
  @include font($fw: null, $lh: 1.19, $ls: null);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__card {
  width: 270px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:not(:last-child) {
  margin-right: 30px;
}
