.title {
  color: var(--title-and-nav-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.pre-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--title-and-nav-text-color);
}
